In [5]:
import os
import time
import numpy as np
import csv
import tqdm
import pandas as pd

In [7]:
df = pd.read_csv('Data/dataset/VETBNB.csv')
df.head()

      event_time      open     close      high       low   volume
0  1635847380000  0.000251  0.000251  0.000251  0.000251  37758.0
1  1635847440000  0.000251  0.000251  0.000251  0.000251      0.0
2  1635847500000  0.000251  0.000251  0.000251  0.000251      0.0
3  1635847560000  0.000251  0.000251  0.000251  0.000251   4468.0
4  1635847620000  0.000251  0.000252  0.000252  0.000251  36245.0

In [11]:
# remove empty rows
df = df.dropna()
df.head()

      event_time      open     close      high       low   volume
0  1635847380000  0.000251  0.000251  0.000251  0.000251  37758.0
1  1635847440000  0.000251  0.000251  0.000251  0.000251      0.0
2  1635847500000  0.000251  0.000251  0.000251  0.000251      0.0
3  1635847560000  0.000251  0.000251  0.000251  0.000251   4468.0
4  1635847620000  0.000251  0.000252  0.000252  0.000251  36245.0

In [22]:
# import keras
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [23]:
# model params
batch_size = 32
seq_len = 60
learning_rate = 0.001
epochs = 10

# split data into train and test sets
train_size = 0.9
X_train, X_test, y_train, y_test = train_test_split(df, train_size=train_size, shuffle=False)

In [18]:
# creating the model
model = keras.Sequential()
model.add(layers.LSTM(64, input_shape=(None, df.shape[1])))
model.add(layers.BatchNormalization())
model.add(layers.Dense(10))

model.compile(optimizer='adam', loss='mse', metrics=['mae', 'accuracy'])